.product {
  padding: 15px 35px;
  display: flex;
  gap: 40px;

  .left {
    flex: 1;
    display: flex;
    gap: 13px;

    .images {
      flex: 1;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 8px;
      }
    }

    .mainImg {
      flex: 5;

      img {
        width: 100%;
        max-height: 750px;
        object-fit: cover;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .price{
        font-size: 25px;
        color: blue;
        font-weight: 500;
    }

    p{
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
    }

    .quantity{
        display: flex;
        align-items: center;
        gap: 10px;

        button{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
        }
    }

    .add{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: blue;
        padding: 10px;
        color: white;
        gap: 20px;cursor: pointer;
        border: none;
        font-weight: 500;
    }

    .wishlist{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 15px;
        color: blue;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
  }
}
